<a href="{{base_url}}">Accueil</a> 		<a href="{{base_url}}/admin">Admin</a> <br><br>

<h1>Bienvenue dans votre espace de gestion</h1> <br>
<h2>Que voulez vous faire ?</h2><br><br>
<button>Gestion des missions</button><br><br>
<button onclick="location.href='{{ base_url }}/admin/manage-cible'">Gestion des cibles</button><br><br>
<button onclick="location.href='{{ base_url }}/admin/manage-contact'">Gestion des contacts</button><br><br>
<button onclick="location.href='{{ base_url }}/admin/manage-agent'">Gestion des agents</button><br><br>
<button onclick="location.href='{{ base_url }}/admin/manage-planque'">Gestion des planques</button><br><br>
<button onclick="location.href='{{ base_url }}/admin/manage-type'">Gestion des types de mission</button><br><br>
<button onclick="location.href='{{ base_url }}/admin/manage-speciality'">Gestion des spécialités</button><br><br>
<button onclick="location.href='{{ base_url }}/admin/manage-country'">Gestion des pays</button><br><br>
<button onclick="location.href='{{ base_url }}/admin/manage-status'">Gestion des statuts</button><br><br>
<button onclick="location.href='{{ base_url }}/logout'">Déconnexion</button>