<a href="{{base_url}}">Accueil</a> 		<a href="{{base_url}}/admin">Admin</a> <br><br>

<h1>Gestion des {{pageName}}</h1>

{% if addResult is defined and addResult is not empty %}

	{{addResult}}
	<br>
	{% if missions is defined and missions is not empty %}
		<h2>Missions relatives à l'élément à supprimer</h2>
		<h2>Peut empêcher la suppression :</h2>
		<ul>
			{% for mission in missions %}
				<li>{{mission.title}}
				</li>
			{% endfor %}
		</ul>

	{% endif %}
	<a href="{{ base_url }}{{previousUrl}}">Retour</a>

{% elseif modifySection is defined and modifySection == true %}
	<h2>Modification {{pageName}}:</h2>
	Ancien nom :
	{{elements.valeur}}
	<br><br>
	Nouveau nom :
	<br>
	<form action="{{base_url}}{{updateUrl}}" method="post">
		<input type="text" name="updatedName" id="">
		<input type="hidden" name="updateElementId" value={{ elements.id }}>
		<input type="hidden" name="tok" value={{ token }}>

		<button type="submit">Soumettre</button>

	</form>
	<a href="{{ base_url }}{{previousUrl}}">Retour</a>

{% else %}

	<h2>liste des {{pageName}}</h2>

	<form action="{{base_url}}{{previousUrl}}" method="get">
		<input type="text" name='search'>
		<input type="hidden" name="tok" value={{ token }}>
		<button type="submit">Recherche {{pageName}}</button>
		<button onclick="location.href='{{ base_url }}{{previousUrl}}'">Reset</button>
	</form>

	{% if elements == 'une erreur est survenue' %}
		<b>une erreur est survenue</b>
	{% else %}


		<table>
			<thead>
				<tr>
					<th>Nom {{pageName}}</th>
					<th>Modifier</th>
					<th>Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for element in elements %}
					<tr>
						<td>{{ element.valeur }}</td>
						<td>
							<form method="get" action="{{base_url}}{{updateUrl}}">
								<input type="hidden" name="UpdateElementId" value={{ element.id }}>
								<input type="hidden" name="tok" value={{ token }}>
								<button type="submit">Modifier</button>
							</form>
						</td>
						<td>
							<form method="post" action="{{base_url}}{{deleteUrl}}">
								<input type="hidden" name="deleteElementId" value={{ element.id }}>
								<input type="hidden" name="tok" value={{ token }}>
								<button type="submit">Supprimer</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="pagination">
			page <br>
			{% if activePage > 1 %}
				<a href="?page={{ activePage - 1 }}&search={{search}}">Page précédente</a>
			{% endif %}

			{% for page in 1..pageMax %}
				{% if page == activePage %}
					<span class="current-page">{{ page }}</span>
				{% else %}
					<a href="?page={{ page }}&search={{search}}">{{ page }}</a>
				{% endif %}
			{% endfor %}

			{% if activePage < pageMax %}
				<a href="?page={{ activePage + 1 }}&search={{search}}">Page suivante</a>
			{% endif %}
		</div>


		<br>
		<h2>Souhaitez vous faire un ajout : {{pageName}} ?</h2>
		<form action="{{base_url}}{{addUrl}}" method="post">
			<label for="addElementName">Nom du nouvel élément :
			</label>
			<input type="text" name="addElementName" id="" placeholder="{{pageName}}">
			<input type="hidden" name="tok" value={{ token }}>
			<button type="submit">Soumettre</button>
		</form>
		<br>
		<br>
		<a href="{{base_url}}/admin">Retour</a>
	{% endif %}
{% endif %}
