<style>
	table {
		border-collapse: collapse;
		background-color: #ffffff; /* Changer la couleur de fond du tableau si nécessaire */
	}

	td,
	th {
		border: 1px solid #000000; /* Ajouter des bordures aux cellules */
		padding: 8px; /* Ajouter un remplissage pour améliorer la lisibilité */
	}

	/* Changer la couleur du texte si nécessaire */
	td,
	th {
		color: #000000; /* Changer la couleur du texte si nécessaire */
	}
</style>

{# Menu #}
<a href="{{base_url}}">Accueil</a>
<a href="{{base_url}}/admin">Admin</a>
<br><br>

{# Titre de la page #}
<h1>Gestion des
	{{pageName}}</h1>

{% if addResult is defined and addResult is not empty %}

	{# Page 'résultat' suite à une action créer, update ou delete terminée -------------------------------------#}

	{# résultat de l'action #}
	{{addResult}}
	<br>

	{# Liste des éléments liés pouvant empêcher la suppression #}
		{% if data is defined and data is not empty %}
			<h2>
		Liaisons relatives à l'élément à supprimer
		</h2>
			<h3>
		Peut empêcher la suppression :
		</h3>

			{% for tableName, items in data %}

			{# utilisé pour Cibles ? #}
				{% if tableName == 'Cibles' and tableName is not empty %}
					<ul>
						{% for cible in items %}
							<li>
							Nom de la cible:
							{{ cible.firstname }}
						{{ cible.lastname }}
					</li>
				{% endfor %}
				</ul>

				{# utilisé pour Planques ? #}
			{% elseif tableName == 'Planques' and tableName is not empty %}
				<ul>
					{% for planque in items %}
						<li>Planque :
							{{ planque.planqueName }}</li>
					{% endfor %}
				</ul>

				{# utilisé pour Missions ? #}
			{% elseif tableName == 'Missions' and tableName is not empty %}
				<ul>
					{% for mission in items %}
						<li>Mission :
							{{ mission.title }}</li>
					{% endfor %}
				</ul>

			{% endif %}
		{% endfor %}
	{% endif %}
	<a href="{{ base_url }}{{previousUrl}}">Retour</a>

{% elseif modifySection is defined and modifySection == true %}

	{# Page 'update' pour mettre le nouveau nom -----------------------------------------------------------------#}

	<h2>Modification
		{{pageName}}:</h2>

	{# Section 'update' si on est sur la page planque #}
	{% if "planque" in pageName|lower %}
		Ancien nom de planque:
		{{elements.valeur}}<br>
		Ancienne adresse de planque:
		{{elements.location}}<br>
		Ancien pays de planque:
		{{elements.planqueCountry}}<br>
		Ancien type de planque:
		{{elements.type}}<br>

		<br><br>
		Nouveau :
		<br><br>

		<form action="{{base_url}}{{updateUrl}}" method="post" enctype="multipart/form-data">
			<input type="hidden" name="updateElementId" value={{ elements.id }}>
			<input type="hidden" name="tok" value={{ token }}>

			<label for="updatedName">Nom de la nouvelle planque :
			</label><br>
			<input type="text" name="updatedName" id=""><br><br>

			<label for="updatedElementAdress">Adresse de la nouvelle planque :
			</label><br>
			<input required type="text" name="updatedElementAdress" id="" placeholder="adresse"><br><br>

			<label for="updatedElementCountry">Pays de la nouvelle planque :
			</label><br>
			<select name="updatedElementCountry">
				{% for item in countries %}
					<option value="{{ item.id }}">{{ item.valeur }}</option>
				{% endfor %}
			</select><br><br>

			<label for="updatedElementType">Type de planque :
			</label><br>
			<input required type="text" name="updatedElementType" id="" placeholder="maison/appartement"><br><br>

			<button type="submit">Soumettre</button>

		</form>
	{% else %}
		{# Section 'update' pour les autres éléments #}

		Ancien nom :
		{{elements.valeur}}
		<br><br>
		Nouveau nom :
		<br>
		<form action="{{base_url}}{{updateUrl}}" method="post">
			<input type="text" name="updatedName" id="">
			<input type="hidden" name="updateElementId" value={{ elements.id }}>
			<input type="hidden" name="tok" value={{ token }}>

			<button type="submit">Soumettre</button>

		</form>
	{% endif %}


	<a href="{{ base_url }}{{previousUrl}}">Retour</a>

{% else %}
	{# Page 'main' de la section avec CRUD ----------------------------------------------------------------------#}

	<h2>liste des
		{{pageName}}</h2>

	{# Formulaire de recherche #}
	<form action="{{base_url}}{{previousUrl}}" method="get">
		<input type="text" name='search'>
		<input type="hidden" name="tok" value={{ token }}>
		<button type="submit">Recherche
			{{pageName}}</button>
		<button onclick="location.href='{{ base_url }}{{previousUrl}}'">Reset</button>
	</form>

	{% if elements == 'une erreur est survenue' %}
		<b>une erreur est survenue</b>
	{% else %}

		{# Tableau des éléments #}
		<table>
			<thead>
				<tr>
					<th>Nom
						{{pageName}}</th>

					{# Colonnes supp si planque #}
					{% if "planque" in pageName|lower %}
						<th>Adresse</th>
						<th>Pays</th>
						<th>Type</th>
						<th>Mission</th>
					{% endif %}
					<th>Modifier</th>
					<th>Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for element in elements %}
					<tr>
						<td>{{ element.valeur }}</td>

						{# Colonnes supp si planque #}
						{% if "planque" in pageName|lower %}
							<td>{{ element.location }}</td>
							<td>{{ element.planqueCountry }}</td>
							<td>{{ element.type }}</td>
							<td>{{ element.missionName }}</td>
						{% endif %}
						<td>
							<form method="get" action="{{base_url}}{{updateUrl}}">
								<input type="hidden" name="UpdateElementId" value={{ element.id }}>
								<input type="hidden" name="tok" value={{ token }}>
								<button type="submit">Modifier</button>
							</form>
						</td>
						<td>
							<form method="post" action="{{base_url}}{{deleteUrl}}">
								<input type="hidden" name="deleteElementId" value={{ element.id }}>
								<input type="hidden" name="tok" value={{ token }}>
								<button type="submit">Supprimer</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{# Pagination #}
		<div class="pagination">
			page
			<br>
			{% if activePage > 1 %}
				<a href="?page={{ activePage - 1 }}&search={{search}}">Page précédente</a>
			{% endif %}

			{% for page in 1..pageMax %}
				{% if page == activePage %}
					<span class="current-page">{{ page }}</span>
				{% else %}
					<a href="?page={{ page }}&search={{search}}">{{ page }}</a>
				{% endif %}
			{% endfor %}

			{% if activePage < pageMax %}
				<a href="?page={{ activePage + 1 }}&search={{search}}">Page suivante</a>
			{% endif %}
		</div><br>

		{# Section add ------------------------------------------------------------------------------------------#}

		<h2>Souhaitez vous faire un ajout :
			{{pageName}}
			?</h2>

		{# Section add si on est sur la page planque #}
		{% if "planque" in pageName|lower %}
			<form action="{{base_url}}{{addUrl}}" method="post">
				<label for="addElementName">Nom de la nouvelle planque :
				</label><br>
				<input required type="text" name="addElementName" id="" placeholder="nom">
				<br><br>

				<label for="addElementAdress">Adresse de la nouvelle planque :
				</label><br>
				<input required type="text" name="addElementAdress" id="" placeholder="adresse"><br><br>

				<label for="addElementCountry">Pays de la nouvelle planque :
				</label><br>
				<select name="addElementCountry">
					{% for item in countries %}
						<option value="{{ item.id }}">{{ item.valeur }}</option>
					{% endfor %}
				</select><br><br>

				<label for="addElementType">Type de planque :
				</label><br>
				<input required type="text" name="addElementType" id="" placeholder="maison/appartement"><br><br>

				<input type="hidden" name="tok" value={{ token }}>
				<button type="submit">Soumettre</button>
			</form>
		{% else %}
			{# Section add pour les autres éléments #}

			<form action="{{base_url}}{{addUrl}}" method="post">
				<label for="addElementName">Nom du nouvel élément :
				</label>
				<input type="text" name="addElementName" id="" placeholder="{{pageName}}">
				<input type="hidden" name="tok" value={{ token }}>
				<button type="submit">Soumettre</button>
			</form>
		{% endif %}

		<br>
		<br>

		{# Retour vers page d'accueil admin #}
		<a href="{{base_url}}/admin">Retour</a>
	{% endif %}
{% endif %}
